.schoolImgs {
  display: flex;
  flex-wrap: wrap;
}
.schoolImgs img {
  padding: 15px;
}

.pickSchool {
  color: #b3cf99;
}

label {
  color: #b3cf99;
}

#custom-input-demo {
  color: rgb(16, 51, 7);
}
.viewS input {
  border-radius: 8px;
  /* background-color: #adc89c; */
}
.viewS h1 {
  color: #b3cf99;
}
.viewS ::placeholder {
  color: rgb(16, 51, 7);
}

#selS {
  font-size: 22px;
}
