.schoolImgs {
  display: flex;
  flex-wrap: wrap;
}
/* .schoolImgs img {
  padding: 15px;
} */

.pickSchool {
  color: #b3cf99;
}
.marg {
  margin: 2%;
}
label {
  color: #b3cf99;
}

#custom-input-demo {
  color: rgb(16, 51, 7);
}
/* .selS {
  padding: 20%;
} */
.viewS input {
  border-radius: 8px;
  /* background-color: #adc89c; */
}
.viewS h1 {
  color: #b3cf99;
}
.viewS ::placeholder {
  color: rgb(16, 51, 7);
}

#selS {
  font-size: 22px;
}

/* .yellowBo {
  border: 2px solid #ffcb05;
  border-radius: 120%;
} */

.schoolImgs button {
  background-color: transparent;
  border-radius: 100%;
}

.schoolButton {
  background-color: transparent;
  border: 0px;
}

#ma {
  margin-bottom: 1%;
}
